html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 50% }


.Row
{
   	margin: 10px;
	margin-left: 50px;
	margin-right:50px;
    table-layout: fixed; 
    border-spacing: 10px;
}
.Column
{
    display: table-cell;
    background-color: beige; 
    width: 100px;
}

	


.minudiv {
	border-style: solid;
    border-width: 0px;
    width: 900px;
	margin-left: 50px;
	margin-right:50px;
	background-color: beige;
}

.mapdiv {
	border-style: solid;
    border-width: 0px;
    width: 100px;
	background-color: beige;
	height: 300px; 
}

.addsdiv {
	margin: 30px; 
	background-color:#afcbf7; 
	border: 1px solid; 
	border-radius: 25px;
}

